*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *:focus {
    outline: none;
} */

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/warframe_wallpaper.png');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form {
    width: 400px;
    height: auto;
    color: black;
    font-family: 'roboto', sans-serif;
}

.heading {
    opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 50px;
    font-family: 'dosis';
}

input, .submit-btn {
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    border: none;
    color: black;
    padding: 15px;
    transition: 0.5s;
}

input:focus, .submit-btn:hover {
    background: grey;
    color: #fff;

}

input::placeholder{
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}
input:focus::placeholder {
    color:#fff
}

.submit-btn{
    opacity: 0;
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50 auto 0;
}

.link {
    text-align: center;
    text-decoration: none;
    margin: 30px auto;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: block;
}
.link:hover {
    color: rgba(0, 0, 0, 1);
}

.alert-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto',sans-serif;
    text-align: center;
    transition: 1s;
}