* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/warframe_wallpaper.png');
    background-size: cover;
    background-position: center;
    /* background-color: rgba(6, 226, 242, 0.301);
    background-blend-mode: lighten; */
    font-family: 'roboto', sans-serif;
}

.container {
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logout {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    outline: none;
}

.greeting,
.greeting2 {
    font-family: 'dosis', sans-serif;
    font-size: 100px;
    color: black;
    font-weight: 800;
    text-transform: capitalize;

}

/* *********************** */
.scroller {
    /* border: 1px solid black; */
    width: 90%;
    max-width: 80%;
    height: 150px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}

.item-top,
.item-bottom {
    width: auto;
    min-width: 200px;
    height: 150px;
    /* background-color: red; */
    border-radius: 6px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.item-top {
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes scrollright {
    to {
        right: -200px;
    }
}

.item-bottom {
    right: 100%;
    animation-name: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);  
}

.item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

/*
.item6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);   
}

.item7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);  
} */


.scroll-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}