* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/warframe_wallpaper.png');
    background-size: cover;
    background-position: center;
    /* background-color: rgba(6, 226, 242, 0.301);
    background-blend-mode: lighten; */
    font-family: 'roboto', sans-serif;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.container {
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logout {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    outline: none;
}

.greeting {
    font-family: 'dosis', sans-serif;
    font-size: 100px;
    color: black;
    font-weight: 800;
    text-transform: capitalize;

}

/* *********************** */
.scroller {
    /* border: 1px solid black; */
    width: 90%;
    max-width: 90%;
    height: 150px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    mask-image: linear-gradient(to right,
                                rgba(0,0,0,0),
                                rgba(0,0,0,1) 20%,
                                rgba(0,0,0,1) 80%,
                                rgba(0,0,0,0)
    );
}

.item-top,
.item-bottom {
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    background-size: cover;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
    
}

.item-top {
    left: max(calc(200px * 6), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;

}
.stop-animation.paused {
    animation-play-state: paused;
}

@keyframes scrollright {
    to {
        right: -200px;
    }
}

.item-bottom {
    right: max(calc(200px * 6), 100%);
    animation-name: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;
}


.item1 {
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
    background-image: url(../img/scroller_pics/1\ -\ n1OoKSM.png);   
}

.item2 {
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
    background-image: url(../img/scroller_pics/2\ -\ HSTCxs4.png); 
}

.item3 {
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
    background-image: url(../img/scroller_pics/3\ -\ 9JFvB2D.png); 
}

.item4 {
    animation-delay: calc(30s / 6 * (6 - 4) * -1);  
    background-image: url(../img/scroller_pics/4\ -\ qAex31R.png); 
}

.item5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
    background-image: url(../img/scroller_pics/5\ -\ QPxgS3o.png); 
}
.item6 {
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
    background-image: url(../img/scroller_pics/6\ -\ 2dUqfvu.png); 
}

/*
.item6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);   
}

.item7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);  
} */


.scroll-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}